<!-- <p>translate works!</p> -->
<div class="mainContainer">
    <div class="leftContainer">
    <input type="text" class="languageFieldInput" [(ngModel)]="sourceLanguage"  placeholder="Enter Text language">
    <div class="inputTextFieldContainer">
        <textarea type="text" class="dataField"  [(ngModel)]="sourceData" placeholder="Your text here..." required></textarea>
    </div>

    </div>

    <button class="mainActionButton" (click)="translate()">Translate</button>
    
    <div class="rightContainer">
    <input type="text" class="languageFieldInput" [(ngModel)]="targetLanguage" placeholder="Enter Translation Language">
    <div class="inputTextFieldContainer">
        <textarea type="text" class="dataField" [(ngModel)]="targetData"></textarea>

    </div>
    </div>
 </div>
