<div class="container_outer">

    <div class="leftContainer">
      <h1 class="main text">Welcome to <i>My Translate </i></h1>
      <h4 class="secondary text">wwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</h4>
      <h4 class="secondary text">eeeeeeeeeeeeeeeeeeeeee</h4>
      <div class="mainActionButton">
        <a class="link " routerLink="/translate" >Get Started</a>
      </div>
      <!-- <button class="mainActionButton">Get Started</button> -->
      <!-- <a routerlink="/translate"> Get Started </a> -->
      <!-- <button class="mainActionButton"> <a routerlink="/translate"> Get Started </a></button>
    </div> -->
    
    </div>

    <router-outlet></router-outlet>
    <div class="rightContainer">
      <img src="./assets/images/img1.png" class="img1">
    </div>
  </div>